server:
  port: 8080

spring:
  application:
    name: careerquest
  
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug
    
springdoc:
  swagger-ui:
    path: /api-test
